@font-face {
    font-family: 'QDHandRedrawn';
    src: url('src/QDHandRedrawn.woff2') format('woff2'),
         url('src/QDHandRedrawn.woff') format('woff'),
         url('src/QDHandRedrawn.ttf') format('truetype');
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    font-family: 'QDHandRedrawn', sans-serif;
    overflow: hidden;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

audio {
    right: 10px;
    bottom: 10px;
    position: fixed;
}

img.center {
    width: 130px;
    height: 100px;
    transition: width 2s, height 2s;
    pointer-events: none;
    -webkit-user-drag: none;
}

.text-element {
    color: rgb(251, 251, 32);
    padding: 10px;
    font-weight: bold;
    position: fixed;
    /* text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); */
    /* background-color: rgba(0, 0, 0, 0.5); */
}

.hidden {
    display: none;
}

.click-me-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: black;  /* Black background */
    color: white;  /* White text */
    text-decoration: none;
    border: 2px solid white;  /* White border */
    border-radius: 5px;  /* No border radius for a minimalist look */
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
    font-family: "Arial", sans-serif;  /* Simple, modern font */
    font-weight: bold;  /* Bold text for emphasis */
    text-align: center;  /* Center text */
    letter-spacing: 1px;  /* Slightly spaced out letters */
}

.click-me-link:hover {
    background-color: white;  /* White background on hover */
    color: black;  /* Black text on hover */
    border-color: black;  /* Black border on hover */
}

#start-button {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: relative;
}

#start-button::before {
    content: '';
    width: 0;
    height: 0;
    border-left: 18px solid rgb(0, 0, 0);
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    transform: translateX(4px);
}

#start-button:hover {
    background-color: #333;
}

#song-title {
    font-weight: bold;
    font-size: 18px;
}

#progress-bar-container {
    position: fixed;
    bottom: 4px;
    left: 20px;
    width: 200px;
    background-color: transparent;
    color: white;
    padding: 50px 0; 
    border-radius: 0;
    pointer-events: none;
    opacity: 0;
    transition: opacity 1s ease;
    text-align: left; 
}

#progress-bar {
    width: 100%;
    height: 3.5px; 
    background-color: white;
    margin-top: 10px;
    border-radius: 1px; 
}

#progress {
    width: 0%;
    height: 100%;
    background-color: black;
}

#duration-text {
    font-size: 12px;
    margin-top: 10px;
    color: white;
}

/* Keyframe animations */
@keyframes left-pan {
    from { transform: translateX(100%); }
    to { transform: translateX(0); }
}

@keyframes right-pan {
    from { transform: translateX(-100%); }
    to { transform: translateX(0); }
}

@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fade-out {
    from { opacity: 1; }
    to { opacity: 0; }
}

/* Animation classes */
.left-pan {
    animation: left-pan 1s ease-in-out;
}

.right-pan {
    animation: right-pan 1s ease-in-out;
}

.fade-in {
    animation: fade-in 1s ease-in-out;
}

.fade-out {
    animation: fade-out 1s ease-in-out;
}